@font-face {
  font-family: StalinistOne-Regular;
  src: url('../../fonts/StalinistOne-Regular.ttf')
}

body {
  font-family: StalinistOne-Regular;
}

img {
  width: 300px;
  height: 300px;
}

.ImageList {
  display: flex;
  flex-wrap: wrap;
}

li {
  list-style-type: none;
}