.dropDown {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.options {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 1.3rem;
    font-family: monospace;
    width: 100%;
}

fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
